/*Reseteo de relleno y borde*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*BRAND*/
    .item-logo {
    height: 120px;
    }


.item-marca {
    color: white;
    font-family: 'Peralta', cursive;
    font-size: 40px;
    letter-spacing: 1%;

    }

.item-marca2 {
    color: white;
    font-family: 'Peralta', cursive;
    font-size: 40px;
    letter-spacing: 1%;
    width: auto;
    margin-right: 100%;
    padding-right: 0;
}

/*NavBar*/
.menu-container {
    border: 3px solid black;
}

.item {
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Peralta', cursive;
    text-decoration: none;
}


/*Slogan de la página, de qué se trata, cual es el tema principal e importante*/
h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 25px;
    margin-top: 100px;
    margin-bottom: 20px;
}





/*Categorias / Con boostrap y css*/

.link-categorias {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Peralta', cursive;
    text-decoration: none;
    margin: 120px 0 30px 0;
    width: 100%;
}


.items {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.sub-categorias { 
    color: black;
    font-family: 'Peralta', cursive;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    
}

/*Tips y Cuidados Section*/


.final-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin: 10px 120px 35px 120px;
}


/*Seguinos en Instragram*/
.iframe-container{
    padding: 0 50px 0 50px;
    margin-bottom: 100px;
}


/*Footer Controls*/

.footer-container {
    width: 100%;
    height: 12em;
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.footer-items {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.footer-text, a {
    
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 30px;
}

/*ECHEVERIAS DOCUMENTO.*/

h3 {
    color: black;
    font-size: 100px;
    font-family: 'Peralta', cursive;
    margin: 100px 0 60px 0;
}

.img-px {
    width: 100%;
    height: 700px;
    padding: 0 1% 0 1%;
    margin-bottom: 8%;
}

.p-nosotros {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
    font-weight: bold;
    margin: 10px 120px 35px 120px;
    text-indent: 5%;
    line-height: 160%;
    }

/*Animaciones*/
.animation-menu:hover {
    transform: scale(1.5);
}

/*Parrafos responsive usando media queries / para mobile */

@media only screen and (max-width: 500px){
    .p-nosotros {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        text-align: justify;
        font-weight: bold;
        margin: 5px 60px 17px 60px;
        text-indent: 5%;
        line-height: 160%;
    }

    .link-categorias {
        display: flex;
        justify-content: center;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: 'Peralta', cursive;
        text-decoration: none;
        margin: 60px 0 15px 0;
        line-height: 130%;
        width: auto;
    }

    .sub-categorias { 
        color: black;
        font-family: 'Peralta', cursive;
        width: 100%;
        font-size: 10px;
    }

    .final-text {
        font-family: 'Roboto', sans-serif;
        font-size: 9px;
        text-align: center;
        font-weight: bold;
        width: 100%;
    }

    h2 .item-marca {
        font-size: medium;
    }

    .footer-container {
        width: 100%;
        height: auto;
        display: flex;
        background-color: black;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer-items {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        
    }
    
    .footer-text, a {
        
        font-size: 8px;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        line-height: 15px;
    }

    .img-px {
        width: 100%;
        height: auto;
        padding: 0 1% 0 1%;
        margin-bottom: 4%;
}
}

