@charset "UTF-8";
/*Listas*/ /* % este es el simbolo de las extensiones - se le llama PLACEHOLDER */
footer div div, main h1 {
  display: flex;
  justify-content: center;
}

main h3 .link-categorias, footer div, main .link-categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main h3 .link-categorias, main .link-categorias {
  color: black;
  font-size: 30px;
  font-family: "Peralta", cursive;
  text-decoration: none;
  margin: 100px 0 40px 0;
  width: 100%;
  text-align: center;
}

/*Slogan de la marcar en H1 - tema principal e importante*/
main h1 {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 25px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/*Parrafo de la página princial*/
main div div .p-nosotros, main section p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  margin: 10px 120px 35px 120px;
  text-indent: 5%;
  line-height: 160%;
}

main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main div div div a {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
main div div div p {
  color: black;
  font-family: "Peralta", cursive;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
/*Listas*/ /* % este es el simbolo de las extensiones - se le llama PLACEHOLDER */
footer div div, main h1 {
  display: flex;
  justify-content: center;
}

main h3 .link-categorias, footer div, main .link-categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main h3 .link-categorias, main .link-categorias {
  color: black;
  font-size: 30px;
  font-family: "Peralta", cursive;
  text-decoration: none;
  margin: 100px 0 40px 0;
  width: 100%;
  text-align: center;
}

/*Slogan de la marcar en H1 - tema principal e importante*/
main h1 {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 25px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/*Parrafo de la página princial*/
main div div .p-nosotros, main section p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  margin: 10px 120px 35px 120px;
  text-indent: 5%;
  line-height: 160%;
}

/*Brand responsive - usando boostrap + ccss*/
header div div p {
  color: white;
  font-family: "Peralta", cursive;
  font-size: 40px;
}
header div div p img {
  height: 120px;
}
header nav {
  border: 3px solid black;
}
header nav div div ul li:hover {
  transform: scale(1.5);
}
header nav div div ul li a {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Peralta", cursive;
  text-decoration: none;
}

/*Listas*/ /* % este es el simbolo de las extensiones - se le llama PLACEHOLDER */
footer div div, main h1 {
  display: flex;
  justify-content: center;
}

main h3 .link-categorias, footer div, main .link-categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main h3 .link-categorias, main .link-categorias {
  color: black;
  font-size: 30px;
  font-family: "Peralta", cursive;
  text-decoration: none;
  margin: 100px 0 40px 0;
  width: 100%;
  text-align: center;
}

/*Slogan de la marcar en H1 - tema principal e importante*/
main h1 {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 25px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/*Parrafo de la página princial*/
main div div .p-nosotros, main section p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  margin: 10px 120px 35px 120px;
  text-indent: 5%;
  line-height: 160%;
}

footer div {
  width: 100%;
  height: 12em;
  background-color: black;
}
footer div div {
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: black;
}
footer div div a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 30px;
}

/*Listas*/ /* % este es el simbolo de las extensiones - se le llama PLACEHOLDER */
main h1, footer div div {
  display: flex;
  justify-content: center;
}

main h3 .link-categorias, main .link-categorias, footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main h3 .link-categorias, main .link-categorias {
  color: black;
  font-size: 30px;
  font-family: "Peralta", cursive;
  text-decoration: none;
  margin: 100px 0 40px 0;
  width: 100%;
  text-align: center;
}

/*Slogan de la marcar en H1 - tema principal e importante*/
main h1 {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 25px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/*Parrafo de la página princial*/
main div div .p-nosotros, main section p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  margin: 10px 120px 35px 120px;
  text-indent: 5%;
  line-height: 160%;
}

/*Variables - Nos permiten reutilizar información o estilos en muchas partes de nuestro proyecto
simbolo ($) seguido del nombre que quiera: mas el valor;*/
main div div div .img-px {
  width: 100%;
  height: 700px;
  padding: 0 1% 0 1%;
  margin-bottom: 8%;
}
main div div div .img-px {
  width: 100%;
  height: 700px;
  padding: 0 1% 0 1%;
  margin-bottom: 8%;
}

/*Variables - Nos permiten reutilizar información o estilos en muchas partes de nuestro proyecto
simbolo ($) seguido del nombre que quiera: mas el valor;*/
/*Listas*/ /* % este es el simbolo de las extensiones - se le llama PLACEHOLDER */
main h1, footer div div {
  display: flex;
  justify-content: center;
}

main .link-categorias, footer div, main h3 .link-categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .link-categorias, main h3 .link-categorias {
  color: black;
  font-size: 30px;
  font-family: "Peralta", cursive;
  text-decoration: none;
  margin: 100px 0 40px 0;
  width: 100%;
  text-align: center;
}

/*Slogan de la marcar en H1 - tema principal e importante*/
main h1 {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 25px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/*Parrafo de la página princial*/
main div div .p-nosotros, main section p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  margin: 10px 120px 35px 120px;
  text-indent: 5%;
  line-height: 160%;
}

/*Listas*/ /* % este es el simbolo de las extensiones - se le llama PLACEHOLDER */
main h1, footer div div {
  display: flex;
  justify-content: center;
}

main .link-categorias, footer div, main h3 .link-categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .link-categorias, main h3 .link-categorias {
  color: black;
  font-size: 30px;
  font-family: "Peralta", cursive;
  text-decoration: none;
  margin: 100px 0 40px 0;
  width: 100%;
  text-align: center;
}

/*Slogan de la marcar en H1 - tema principal e importante*/
main h1 {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 25px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/*Parrafo de la página princial*/
main div div .p-nosotros, main section p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  margin: 10px 120px 35px 120px;
  text-indent: 5%;
  line-height: 160%;
}

/*# sourceMappingURL=style.css.map */
