@import '../base/listas';
@import '../base/extends';

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    h1 {
        @extend %flexbox;
        @extend %h1;
    }

    .link-categorias { 
        @extend %flexbox2;
        @extend %titulos;
    }

    div {
        div {
            div {
                a {
                    width: 100%;
                    height: 300px;
                    margin-bottom: 10px;
                }
                p { 
                    color: nth($colores, 1);
                    font-family: 'Peralta', cursive;
                    width: 100%;
                    font-size: nth($font-size, 8);
                    font-weight: bold;
                }
            }
        }
    }
    section {
        p { 
            @extend %parrafo-main;
        }
    }
}
    

