@import '../base/listas';
@import '../base/extends';

main {

    h1 {
        @extend %flexbox;
        @extend %h1;
    }


    div {
        div {
            div {
                a {
                    width: 100%;
                    height: 300px;
                    margin-bottom: 10px;
                }
                p { 
                    color: nth($colores, 1);
                    font-family: 'Peralta', cursive;
                    width: 100%;
                    font-size: nth($font-size, 8);
                    font-weight: bold;
                }
            }
        }
    }
    section {
        p { 
            @extend %parrafo-main;
        }
    }
} 

